Sentinel2OneNote
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_page_in_a_section": {
                "inputs": {
                    "body": "<p><strong>Alert name:</strong> @{triggerBody()?['AlertDisplayName']}<br>\n<strong>Severity:</strong> @{triggerBody()?['Severity']}<br>\n<strong>Issuing Product:</strong> @{triggerBody()?['ProductName']}<br>\nDetails: @{triggerBody()?['Description']}<br>\n</p>",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onenote']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/sections/Dynamic/pages",
                    "queries": {
                        "notebookKey": "SecOps|$|https://microsoft-my.sharepoint.com/personal/rotrent_microsoft_com/Documents/SecOps",
                        "sectionId": "https://www.onenote.com/api/v1.0/myOrganization/siteCollections/2c59bf5d-496d-4cb0-8ecd-e5811876a50b/sites/ca83510d-ef16-4692-8acb-f7ffd5583d3f/notes/sections/1-d5c4d328-b6a0-45c4-840b-c1dde4074468/pages"
                    }
                },
                "runAfter": {
                    "Get_sections_in_notebook": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_my_profile": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365users']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/users/me"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Get_notebooks": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onenote']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/notebooks"
                },
                "runAfter": {
                    "Get_my_profile": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_sections_in_notebook": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onenote']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/notebooks/notebookKey/sections",
                    "queries": {
                        "notebookKey": "SecOps|$|https://microsoft-my.sharepoint.com/personal/rotrent_microsoft_com/Documents/SecOps"
                    }
                },
                "runAfter": {
                    "Get_notebooks": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/resourceGroups/RodAzureSentinel/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
                },
                "office365users": {
                    "connectionId": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/resourceGroups/RodAzureSentinel/providers/Microsoft.Web/connections/office365users",
                    "connectionName": "office365users",
                    "id": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/providers/Microsoft.Web/locations/eastus/managedApis/office365users"
                },
                "onenote": {
                    "connectionId": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/resourceGroups/RodAzureSentinel/providers/Microsoft.Web/connections/onenote",
                    "connectionName": "onenote",
                    "id": "/subscriptions/2959f496-711b-447e-9b85-53a1da341c4c/providers/Microsoft.Web/locations/eastus/managedApis/onenote"
                }
            }
        }
    }
}
