ScheduledIncidentEmail/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "RodDailyIncidentEmail",
            "type":  "string"
        }
    },
    "variables":  {
        "azuremonitorlogsConnectionName":  "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "office365ConnectionName":  "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "7"
                                    ]
                                }
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "7"
                                    ]
                                }
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Initialize_Email_Address_Variable":  {
                            "runAfter":  {
                                "Initialize_Subscription_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Email_Addy",
                                        "type":  "string",
                                        "value":  "rodtrent@sixmilliondollarman.onmicrosoft.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_Resource_Group_Variable":  {
                            "runAfter":  {
                                "Initialize_Email_Address_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Resource_Group",
                                        "type":  "string",
                                        "value":  "RodAzureSentinel"
                                    }
                                ]
                            }
                        },
                        "Initialize_Resource_Name_Variable":  {
                            "runAfter":  {
                                "Initialize_Resource_Group_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Resource_Name",
                                        "type":  "string",
                                        "value":  "RodAzureSentinelWorkspace"
                                    }
                                ]
                            }
                        },
                        "Initialize_Subscription_Variable":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Subscription_ID",
                                        "type":  "string",
                                        "value":  "Azure Internal Billing 414651"
                                    }
                                ]
                            }
                        },
                        "Run_query_and_visualize_results":  {
                            "runAfter":  {
                                "Initialize_Resource_Name_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "SecurityIncident\n| where TimeGenerated \u003e ago(1d) \n| where Status == \"New\"\n| project TimeGenerated, Title, Description, Severity, IncidentUrl",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuremonitorlogs_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/visualizeQuery",
                                "queries":  {
                                    "resourcegroups":  "@variables('Resource_Group')",
                                    "resourcename":  "@variables('Resource_Name')",
                                    "resourcetype":  "Log Analytics Workspace",
                                    "subscriptions":  "2959f496-711b-447e-9b85-53a1da341c4c",
                                    "timerange":  "Set in query",
                                    "visType":  "Html Table"
                                }
                            }
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "Run_query_and_visualize_results":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003e\u003cspan style=\"font-size: 18px\"\u003e\u003cstrong\u003eHere is the list of Incidents that were created overnight:\u003cbr\u003e\n\u003cbr\u003e\n\u003c/strong\u003e\u003c/span\u003e\u003cspan style=\"font-size: 18px\"\u003e\u003cstrong\u003e@{base64ToString(body('Run_query_and_visualize_results')?['attachmentContent'])}\u003c/strong\u003e\u003c/span\u003e\u003cspan style=\"font-size: 18px\"\u003e\u003cstrong\u003e\u003cbr\u003e\n\u003c/strong\u003e\u003c/span\u003e\u003cbr\u003e\n\u003c/p\u003e",
                                    "Subject":  "Azure Sentinel Incidents Created Overnight",
                                    "To":  "@variables('Email_Addy')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuremonitorlogs_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('azuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "office365_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName":  "[variables('office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "RodDailyIncidentEmail",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('azuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('azuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        }
    ]
}
