HaveIBeenPwned-Email/azuredeploy.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "API_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "hibp-api-key",
                            "type": "string",
                            "value": "['APIKey']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Alert_-_Get_accounts": {
                "inputs": {
                    "body": "@triggerBody()?['Entities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/account"
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                },
                "runAfter": {
                    "Query_Return": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Asterisk_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Asterisk",
                            "type": "string",
                            "value": "@"
                        }
                    ]
                },
                "runAfter": {
                    "API_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Email_Address_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FullEmailAddress",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Asterisk_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "For_each_2": {
                "actions": {
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "FullEmailAddress",
                            "value": "@{items('For_each_2')?['Name']}@{variables('Asterisk')}@{items('For_each_2')?['UPNSuffix']}"
                        },
                        "runAfter": {},
                        "type": "AppendToStringVariable"
                    },
                    "Append_to_string_variable_2": {
                        "inputs": {
                            "name": "Query Return",
                            "value": "@outputs('HTTP')['statusCode']"
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded",
                                "Failed"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Condition": {
                        "actions": {
                            "Add_comment_to_incident_(V2)": {
                                "inputs": {
                                    "body": {
                                        "Value": "Congratulations! @{variables('FullEmailAddress')} was not found in the Pwned Database."
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "put",
                                    "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "else": {
                            "actions": {
                                "Add_comment_to_incident_(V2)_2": {
                                    "inputs": {
                                        "body": {
                                            "Value": "@{variables('FullEmailAddress')} has been identifed as a compromised account by haveibeenpwned."
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('HTTP')['statusCode']",
                                        404
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Append_to_string_variable_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "HTTP": {
                        "inputs": {
                            "headers": {
                                "hibp-api-key": "@variables('hibp-api-key')"
                            },
                            "method": "GET",
                            "uri": "https://haveibeenpwned.com/api/v3/breachedaccount/@{variables('FullEmailAddress')}"
                        },
                        "runAfter": {
                            "Append_to_string_variable": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "staticResult": {
                                "name": "HTTP0",
                                "staticResultOptions": "Disabled"
                            }
                        },
                        "type": "Http"
                    }
                },
                "foreach": "@body('Alert_-_Get_accounts')?['Accounts']",
                "runAfter": {
                    "Alert_-_Get_accounts": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Query_Return": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Query Return",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Email_Address_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "staticResults": {
            "HTTP0": {
                "outputs": {
                    "headers": {},
                    "statusCode": "404"
                },
                "status": "Succeeded"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/['subscriptionID']/resourceGroups/['resourcegroup']/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/['subscriptionID']/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
                }
            }
        }
    }
}
