HaveIBeenPwned-Email/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "HaveIBeenPwnedEmail",
            "type":  "string"
        },
        "APIKey":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for APIKey"
            }
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "APIKey":  {
                            "defaultValue":  "[parameters('APIKey')]",
                            "type":  "string"
                        }
                    },
                    "staticResults":  {
                        "HTTP0":  {
                            "status":  "Succeeded",
                            "outputs":  {
                                "headers":  {
                                },
                                "statusCode":  "404"
                            }
                        }
                    },
                    "triggers":  {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/subscribe"
                            }
                        }
                    },
                    "actions":  {
                        "API_Variable":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "hibp-api-key",
                                        "type":  "string",
                                        "value":  "@parameters('APIKey')"
                                    }
                                ]
                            }
                        },
                        "Alert_-_Get_accounts":  {
                            "runAfter":  {
                                "Alert_-_Get_incident":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['Entities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/account"
                            }
                        },
                        "Alert_-_Get_incident":  {
                            "runAfter":  {
                                "Query_Return":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "Asterisk_Variable":  {
                            "runAfter":  {
                                "API_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Asterisk",
                                        "type":  "string",
                                        "value":  "@"
                                    }
                                ]
                            }
                        },
                        "Email_Address_Variable":  {
                            "runAfter":  {
                                "Asterisk_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "FullEmailAddress",
                                        "type":  "string"
                                    }
                                ]
                            }
                        },
                        "For_each_2":  {
                            "foreach":  "@body('Alert_-_Get_accounts')?['Accounts']",
                            "actions":  {
                                "Append_to_string_variable":  {
                                    "runAfter":  {
                                    },
                                    "type":  "AppendToStringVariable",
                                    "inputs":  {
                                        "name":  "FullEmailAddress",
                                        "value":  "@{items('For_each_2')?['Name']}@{variables('Asterisk')}@{items('For_each_2')?['UPNSuffix']}"
                                    }
                                },
                                "Append_to_string_variable_2":  {
                                    "runAfter":  {
                                        "HTTP":  [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type":  "AppendToStringVariable",
                                    "inputs":  {
                                        "name":  "Query Return",
                                        "value":  "@outputs('HTTP')['statusCode']"
                                    }
                                },
                                "Condition":  {
                                    "actions":  {
                                        "Add_comment_to_incident_(V2)":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "Value":  "Congratulations! @{variables('FullEmailAddress')} was not found in the Pwned Database."
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Append_to_string_variable_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Add_comment_to_incident_(V2)_2":  {
                                                "runAfter":  {
                                                },
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  {
                                                        "Value":  "@{variables('FullEmailAddress')} has been identifed as a compromised account by haveibeenpwned."
                                                    },
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "put",
                                                    "path":  "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                                }
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@outputs('HTTP')['statusCode']",
                                                    404
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "HTTP":  {
                                    "runAfter":  {
                                        "Append_to_string_variable":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "headers":  {
                                            "hibp-api-key":  "@variables('hibp-api-key')"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://haveibeenpwned.com/api/v3/breachedaccount/@{variables('FullEmailAddress')}"
                                    },
                                    "runtimeConfiguration":  {
                                        "staticResult":  {
                                            "staticResultOptions":  "Disabled",
                                            "name":  "HTTP0"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Alert_-_Get_accounts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Query_Return":  {
                            "runAfter":  {
                                "Email_Address_Variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Query Return",
                                        "type":  "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('azuresentinel-30'))]",
                                "connectionName":  "azuresentinel-30",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "LogicAppsCategory":  "security",
                "hidden-SentinelTemplateName":  "HaveIBeenPwnedEmail",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
